
* {
    margin: 1.25%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    padding: .1% 100% .1% .1%;
    top: -1%;
    left: 23%;
    height: 5%;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    color: rgb(95, 95, 95); 
    background-color: rgba(202, 202, 202, .3);
}
.h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    font-kerning: auto;
    font-size-adjust: inherit;
    display: flex;
    position: fixed;
    top: .5%;
}
.h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 175%;
    padding-bottom: 
}
.pcenter {
    display: flex;
    position: fixed;
    top: 4%;
    width: 22%;
    padding-top: 1%;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}
.p {
    font-family: 'Montserrat', sans-serif;
}
.ul {
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    font-weight: 500;
    font-style: italic;    
}

